.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

a{
  color: #ffffff;
  text-decoration: underline;
}

.listItem,
.listHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.list {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 10px auto;
}

.searchInput {
  width: 500px;
}

.table-cell {
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
  list-style: none;
  width: 25%;
  color: #ffffff;

}

.title {
  padding-top: 10px;
  font-size: 50px;
  color: #ffffff;
}

.btn{
  background-image: linear-gradient(rgba(123, 93, 233, 0.596),rgba(20, 97, 240, 0.733));
  color: whitesmoke;
  font-size: 1vw;
  border-style: solid;
  border-color: aliceblue;
  border-width: 0.25vw;
  border-radius: 10vw;
  height: 4vw;
  width: 4vw;
  text-decoration: none;
  margin-bottom: 10px;
}

.fadeInDown {
  animation-duration: 2s;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
